.t background-gradient {
  background: linear-gradient(to right, #1e90ff, #2de614);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
